body {
    font-family: 'arial', sans-serif;
    background-color: #000;
    color: #ff69b4; /* Código de color rosado */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #111; /* Fondo negro más oscuro */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 105, 180, 0.1); /* Sombra con tono rosado */
    padding: 20px;
}

#cabecera {
    text-align: center;
    text-decoration: underline; /* Subrayado para la cabecera */
    color: red; /* Color rojo */
    margin-bottom: 20px; /* Espacio adicional debajo de la cabecera */
}

#post {
    text-align: center;
}

h1 {
    color: #ff69b4; /* Texto rosado */
    font-size: 2em;
   
